{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="background-container">
    <h1>Welcome to Borafya HealthTrack Pro</h1>
    <p>This application helps you manage your health and wellness. Choose a feature from the navigation menu to get started.</p>
    <h2>Daily Health Tip</h2>
    <p>Drink at least 8 glasses of water daily.</p>

    <div style="margin-top: 20px;">
        <a href="https://tables.zapier.com/app/tables/t/01J1F8KFPWGN81QT1MB8PCSB2F" class="btn btn-primary" style="margin-right: 10px;" target="_blank">View Health Records</a>
        <a href="https://employee-directory-f2406f.zapier.app/record-form" class="btn btn-success" target="_blank">Add Health Record</a>
    </div>
</div>
{% endblock %}
