{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="background-container">
    <h1>Borafya HealthRecords</h1>
    <p>This enables Doctors to view and Patients to add health records after every visit to the hospital</p>

    <h1>View HealthRecords</h1>
    <div style="margin-top: 20px;">
        <a href="https://tables.zapier.com/app/tables/t/01J1F8KFPWGN81QT1MB8PCSB2F?secrets=01J2PCVK4R5VQ5N6V3PJMHZ0MC9E6VG5AMIYWZWNC8LB5K5YDMOE" class="btn btn-primary" style="margin-right: 10px;" target="_blank">Records</a>
    </div> 
    
    <h2>Daily Health Tip</h2>
    <p>Drink at least 8 glasses of water daily.</p> 
    <h1>Add HealthRecords</h1>
    <div style="margin-top: 20px;">
        <a href="https://employee-directory-f2406f.zapier.app/record-form" class="btn btn-success" target="_blank">Form</a>s
    </div>
</div>
{% endblock %}
